
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
        <tr>
            <td>item 1</td>
            <td>item 2</td>
            <td>item 3</td>
        </tr>
    </tbody>
</table>